* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  transition: background-color 0.3s, color 0.3s;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, button {
  padding: 6px;
  font-size: 14px;
  width: 300px;
}

select {
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

ul {
  margin-inline-start: 1rem;
  padding: 0;
  list-style: circle;
}

.theme-light {
  background-color: white;
  color: black;
}

.theme-dark {
  background-color: #333;
  color: white;
}

.theme-pink {
  background-color: rgb(187, 101, 115);
  color: white;
}